<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:milllan:heater">
		<parameter-group name="general">
			<label>General</label>
			<advanced>false</advanced>
		</parameter-group>
		<parameter-group name="pid">
			<label>PID Controller</label>
			<advanced>true</advanced>
		</parameter-group>
		<parameter-group name="hysteresis">
			<label>Hysteresis</label>
			<description>Note: Device will reboot if hysteresis parameters are changed</description>
			<advanced>true</advanced>
		</parameter-group>
		<parameter-group name="commercialLock">
			<label>Commercial Lock</label>
			<advanced>true</advanced>
		</parameter-group>
		<parameter-group name="openWindowFunction">
			<label>Open Window Function</label>
			<advanced>true</advanced>
		</parameter-group>
		
		<parameter name="hostname" type="text" required="true" groupName="general">
			<context>network-address</context>
			<label>Hostname</label>
			<description>Hostname or IP address of the device.</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" unit="s" min="1" groupName="general">
			<label>Refresh Interval</label>
			<description>The refresh interval in seconds for polling the device for information that might change frequently.</description>
			<default>60</default>
		</parameter>
		<parameter name="infrequentRefreshInterval" type="integer" unit="s" min="1" groupName="general">
			<label>Infrequent Refresh Interval</label>
			<description>The refresh interval in seconds for polling the device for information that is unlikely to change frequently.</description>
			<default>300</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
